---
import { type Lang, type Multilingual } from "@/i18n";
import {
  loadDefaultJapaneseParser,
  loadDefaultSimplifiedChineseParser,
} from "budoux";

interface Props {
  text: Multilingual | string;
}

const locale = Astro.currentLocale as Lang;
const text =
  typeof Astro.props.text === "string"
    ? Astro.props.text
    : Astro.props.text[locale] || "";
---

<span class="budoux">
  {
    locale === "ja" ? (
      loadDefaultJapaneseParser()
        .parse(text)
        .flatMap((value, index) => [
          ...(index > 0 ? [<wbr />] : []),
          <>{value}</>,
        ])
    ) : locale === "zh-cn" ? (
      loadDefaultSimplifiedChineseParser()
        .parse(text)
        .flatMap((value, index) => [
          ...(index > 0 ? [<wbr />] : []),
          <>{value}</>,
        ])
    ) : (
      <>{text}</>
    )
  }
</span>

<style>
  .budoux {
    word-break: keep-all;
    overflow-wrap: anywhere;
  }
</style>
