---
// Select UI to switch between locales.

import { getLocalePaths, LOCALES } from "@/i18n";
---

<label class="c-systemSelect">
  <svg-icon src="/img/icon/translate.svg"></svg-icon>
  <select data-languageSelect name="language">
    {
      getLocalePaths(Astro.url).map(({ path, lang }) => (
        <option
          label={LOCALES[lang].label}
          value={path}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
          dir={LOCALES[lang].dir || null}
        />
      ))
    }
  </select>
</label>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      const selects = document.querySelectorAll("[data-languageSelect]");

      selects.forEach((select) => {
        select.addEventListener("change", (event) => {
          const selectElement = event.target as HTMLSelectElement;
          // used for 404 page
          localStorage.selectedLang =
            selectElement.selectedOptions[0].dataset.lang;
          location.href = selectElement.value;
        });
      });
    },
    { once: false },
  );
</script>
