.u-textHidden {
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}

.u-iconInText {
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}

.u-showPc,
.u-hideTabSp {
  @media (width < 1024px) {
    display: none !important;
  }
}

.u-showPcTab,
.u-hideSp {
  @media (width < 480px) {
    display: none !important;
  }
}

.u-showTabSp,
.u-hidePc {
  @media (width >= 1024px) {
    display: none !important;
  }
}
.u-showSp,
.u-hidePcTab {
  @media (width >= 480px) {
    display: none !important;
  }
}
