---
import type { ComponentProps } from "astro/types";
import ListItem from "@/components/Price/ListItem.astro";
import Headline from "@/components/ui/Headline.astro";
import SquircleButton from "@/components/ui/SquircleButton.astro";
import Base from "@/layouts/Base.astro";

type ListItemProps = ComponentProps<typeof ListItem>;

const priceList: ListItemProps[] = [
  {
    id: "logo",
    title: "ロゴと名刺の作成",
    text: "ロゴと名刺をデザインする例です。モーションやコンストラクショングリッド等は含みません。",
    price: {
      ヒアリング・ディレクション: 10000,
      デザイン作業: 50000,
    },
  },
  {
    id: "lp",
    title: "ランディングページのデザイン・コーディング",
    text: "静的なWebサイト構築の例です。サーバーサイドの設定や内容含めた企画ディレクションなどにより料金は前後いたします。",
    price: {
      ヒアリング・ディレクション: 40000,
      "デザイン作業 x1ページ程": 50000,
      "コーディング作業 x1ページ程": 60000,
    },
  },
  {
    id: "cms",
    title: "CMSによるコーポレート/ブログサイト等の作成",
    text: "ブログやニュースなど、記事の更新機能を含めたWebサイトです。Wordpressでの対応も可能ですが、基本的には保守・運用性の高い Headless CMS での構築をおすすめしています。",
    price: {
      ヒアリング・ディレクション: 80000,
      "デザイン作業 x5ページ程": 150000,
      "コーディング作業 x5ページ程": 200000,
    },
  },
  {
    id: "ui",
    title: "アプリケーションのUIデザイン・設計",
    text: "iOS, Android や TV など、システムを考慮したアプリケーションのUIデザインです。Sketch, Figma, XD 等で納品いたします。ワイヤー・仕様設計・ドキュメンテーションなど全般的に対応可能です。",
    price: {
      ヒアリング・ディレクション: 60000,
      "デザイン作業 x5画面程": 100000,
      "設計・ドキュメント x5画面程": 40000,
    },
  },
];
---

<Base title="PRICE">
  <div class="l-content">
    <Headline label="PRICE" />

    <p>
      <budoux-ja>
        制作料金は人日単価4万円〜からお見積もりします。例はあくまで目安ですので、作業内容の複雑さや納期により調整いたします。期間を決めて委任契約での対応も可能です。過去の実績は
        <a href="/works">WORKS</a> ページからご確認ください。
      </budoux-ja>
    </p>

    <h2>得意なこと</h2>
    <ul>
      <li>ランディングページのデザイン〜コーディング〜公開まで</li>
      <li>CMSによるコーポレート/ブログ/メディアサイト等の作成・公開</li>
      <li>モバイルアプリケーションのUIデザイン・設計</li>
      <li>ロゴ・名刺などのデザイン制作</li>
      <li>
        上記制作で必要になる、簡易的な画像・動画・ライティング素材などの作成
      </li>
    </ul>

    <h2>苦手なこと</h2>
    <ul>
      <li>アーティスティックな写真・イラスト・アイキャッチ画像などの作成</li>
      <li>プロモーションムービーなどの長尺の動画制作</li>
      <li>
        サーバーサイドのシステム構築や、複雑なWebシステム・ECサイト等の作成
      </li>
    </ul>

    <h2>料金例</h2>
    <ol>
      {priceList.map((item) => <ListItem {...item} />)}
    </ol>

    <SquircleButton
      data-inview
      href="/contact"
      data-swellStalker="contact"
      class="contactBtn"
    >
      <svg-mask-icon src="/img/icon/contact.svg">メールアイコン</svg-mask-icon>
      ご依頼・お問い合わせ
    </SquircleButton>
  </div>
</Base>

<style lang="less">
  @import "@/styles/common.less";

  h2 {
    margin-block-start: 64px;
    padding-block-end: 0.2em;
    font-size: 26px;
    color: rgb(@main);
    border-bottom: 1px solid rgb(@main / 0.05);
  }

  ul {
    margin-block-start: 12px;
    list-style: disc;
    padding-inline-start: 1.4em;
  }

  .contactBtn {
    margin: 96px auto 0;
    @media (width < @lg) {
      margin-block-start: 64px;
    }
  }
</style>
