---
import BlogCard from "@/components/Blog/Card.astro";
import { loadCollection } from "@/components/loadCollection.js";

const blogCollection = await loadCollection("blog");
---

<ul data-inview>
  {
    blogCollection.posts.slice(0, 5).map((post) => (
      <li>
        <BlogCard slug={post.slug} data={post.data} />
      </li>
    ))
  }
</ul>

<style lang="less">
  @import "@/styles/common.less";

  ul {
    filter: @filterShadow;
    margin-top: 16px;
    display: flex;
    gap: 8px;
    @media (width < @lg) {
      flex-wrap: wrap;
    }
    @media (width < @xs) {
      flex-wrap: nowrap;
      width: 100vw;
      margin-inline: -24px;
      padding-inline: 24px;
      scroll-padding-inline: 24px;
      overflow: scroll;
      scroll-snap-type: x mandatory;
    }

    li {
      width: calc((100% - 16px) / 3);
      @media (width < @lg) {
        width: calc(50% - 4px);
      }
      @media (width < @xs) {
        width: 240px;
        flex-shrink: 0;
        scroll-snap-align: start;
      }
      // 要素の数を調整
      @media (width >= @xs) {
        &:nth-child(n + 5) {
          display: none;
        }
      }
      @media (width >= @lg) {
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
</style>
