---
import { useTranslations, type Lang } from "@/i18n";
const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);
---

<p data-inview>
  {
    t({
      ja: "ご依頼はこちらから。UIやロゴなどのデザイン制作、コーディング、イベントでの登壇等を受け付けております。",
      en: "Please contact me from here. I accept design production such as UI and logo, coding, and speaking at events.",
      "zh-cn":
        "请从这里联系我。我接受UI和logo等设计制作、编码、在活动中演讲等。",
    })
  }
</p>
<ul data-inview>
  <li>
    <a href={`/${locale}/price`} class="c-card">
      <svg-icon src="/img/icon/price.svg"></svg-icon>
      <h3>PRICE</h3>
      <p>
        {
          t({
            ja: "請負内容・参考価格",
            en: "Service Details & Pricing",
            "zh-cn": "承接内容・参考价格",
          })
        }
      </p>
      <svg-icon src="/img/icon/next.svg"></svg-icon>
    </a>
  </li>
  <li>
    <a href={`/${locale}/contact`} class="c-card">
      <svg-icon src="/img/icon/contact.svg"></svg-icon>
      <h3>CONTACT</h3>
      <p>
        {
          t({
            ja: "お問い合わせ",
            en: "Get in Touch",
            "zh-cn": "联系",
          })
        }
      </p>
      <svg-icon src="/img/icon/next.svg"></svg-icon>
    </a>
  </li>
</ul>

<style lang="less">
  @import "@/styles/common.less";

  ul {
    display: flex;
    gap: 16px;
    @media (width < @lg) {
      flex-direction: column;
      gap: 0;
    }
  }
  li {
    margin-block-start: 16px;
    width: 100%;
    filter: @filterShadow;
  }
  a {
    border-radius: 16px;
    border: 2px solid rgb(@theme / 0.6);

    background: rgb(@base);
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    gap: 2px 16px;
    padding: 16px 16px 16px 24px;
    align-items: center;
    svg-icon {
      width: 32px;
      aspect-ratio: 1;
      color: rgb(@theme);
      &:first-child {
        grid-area: 1 / 1 / 3 / 2;
      }
      &:last-child {
        grid-area: 1 / 3 / 3 / 4;
        opacity: 0.6;
      }
    }
    h3 {
      grid-area: 1 / 2 / 2 / 3;
      font-size: 20px;
      letter-spacing: 0.05em;
    }
    p {
      grid-area: 2 / 2 / 3 / 3;
      font-size: 14px;
      opacity: 0.7;
      margin: 0;
    }
  }
</style>
