---
import { loadCollection } from "@/components/loadCollection.ts";
import WorksCard from "@/components/Works/Card.astro";
import { type Lang } from "@/i18n";

const worksCollection = await loadCollection(
  "works",
  Astro.currentLocale as Lang,
);
---

<ul data-inview>
  {
    worksCollection.posts.slice(0, 5).map((post) => (
      <li>
        <WorksCard {post} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    margin-block-start: 16px;
    display: flex;
    gap: 8px;
    @media (width < 1024px) {
      flex-wrap: wrap;
    }
    @media (width < 480px) {
      flex-wrap: nowrap;
      width: 100vw;
      margin-inline: -24px;
      padding-inline: 24px;
      scroll-padding-inline: 24px;
      overflow: scroll;
      scroll-snap-type: x mandatory;
    }
  }

  li {
    filter: var(--filter-shadow);
    width: calc((100% - 16px) / 3);
    @media (width < 1024px) {
      width: calc(50% - 4px);
    }
    @media (width < 480px) {
      width: 240px;
      flex-shrink: 0;
      scroll-snap-align: start;
    }
    /* 要素の数を調整 */
    @media (width >= 480px) {
      &:nth-child(n + 5) {
        display: none;
      }
    }
    @media (width >= 1024px) {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
</style>
