---
import "@/styles/global.less";
import { ClientRouter } from "astro:transitions";
import LocalFont from "./LocalFont.astro";
const { title, description } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />

<ClientRouter />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={import.meta.env.SITE + Astro.url.pathname} />

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/img/icon/favicon.svg" />
<link rel="icon" sizes="192x192" href="/img/icon/android-chrome.png" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/img/icon/apple-touch-icon.png"
/>
<meta name="theme-color" content="#fb0" />
<meta name="color-scheme" content="light dark" />

<!-- Font preloads -->
<LocalFont />

<script>
  import "@dotlottie/player-component";
  import "budoux/module/webcomponents/budoux-ja";
</script>
