---
import type { CollectionEntry } from "astro:content";

import WorksCard from "@/components/Works/Card.astro";

interface Props {
  posts: CollectionEntry<"works">[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <WorksCard {post} />
      </li>
    ))
  }
</ul>

<style>
  ul {
    margin-block-start: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media (width < 480px) {
      gap: 4px;
    }
  }
  li {
    filter: var(--filter-shadow);
    width: calc((100% - 32px) / 3);
    @media (width < 1024px) {
      width: calc(50% - 8px);
    }
    @media (width < 480px) {
      width: calc(50% - 2px);
    }
  }
</style>
