---
import BlogCard from "@/components/Blog/Card.astro";

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <BlogCard slug={post.slug} data={post.data} />
      </li>
    ))
  }
  <li>
    <ins
      data-adtest={import.meta.env.PROD ? null : "on"}
      class="adsbygoogle"
      style="display:block"
      data-ad-format="fluid"
      data-ad-layout-key="-6t+ed+2i-1n-4w"
      data-ad-client="ca-pub-5055970484117246"
      data-ad-slot="6833318267"></ins>
  </li>
</ul>

<script
  is:inline
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5055970484117246"
  crossorigin="anonymous"></script>
<script is:inline>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<style lang="less">
  @import "@/styles/common.less";

  ul {
    filter: @filterShadow;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  li {
    width: calc((100% - 32px) / 3);
    @media (width < @lg) {
      width: calc(50% - 8px);
    }
    @media (width < @xs) {
      width: 100%;
    }
  }
</style>
