---
const { label, class: className, href } = Astro.props;
---

<h1 transition:name={"headline-" + label} class={className}>
  <a {href} inert={href ? null : "inert"}>
    {label}
  </a>
</h1>

<style lang="less">
  @import "@/styles/common.less";

  h1 {
    margin-block-start: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: rgb(@label);
    @media (width < @xl) {
      margin-block-start: 56px;
    }
    @media (width < @lg) {
      margin-block-start: 48px;
    }
    @media (width < @sm) {
      margin-block-start: 16px;
    }

    &::first-letter {
      font-size: 1.2em;
      vertical-align: -0.02em;
    }
    &::after {
      content: ".";
      color: rgb(@theme);
      font-size: 1.4em;
      margin-inline-start: -0.2em;
    }
  }
</style>
