---
const { label, class: className, href } = Astro.props;
---

<h1 transition:name={"headline-" + label} class={className}>
  <a {href} inert={href ? null : "inert"}>
    {label}
  </a>
</h1>

<style>
  h1 {
    font-family: var(--font-futura), sans-serif;
    margin-block-start: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--color-label);
    @media (width < 1280px) {
      margin-block-start: 56px;
    }
    @media (width < 1024px) {
      margin-block-start: 48px;
    }
    @media (width < 640px) {
      margin-block-start: 16px;
    }

    &::first-letter {
      font-size: 1.2em;
      vertical-align: -0.02em;
    }
    &::after {
      content: ".";
      color: var(--color-theme);
      font-size: 1.4em;
    }
  }
</style>
