---
import { Squircle } from "@/components/Squircle.ts";

const { fill = "#fb0", button = false, ...attr } = Astro.props;

const svgUrl = Squircle({
  format: "dataUrl",
  radius: 16,
  curve: 12,
  fill: fill,
});
---

{
  button ? (
    <button {...attr} style={`border-image-source: url('${svgUrl}')`}>
      <slot />
    </button>
  ) : (
    <a {...attr} style={`border-image-source: url('${svgUrl}')`}>
      <slot />
    </a>
  )
}

<style>
  a,
  button {
    display: block;
    min-width: 160px;
    max-width: 280px;
    margin-block-start: 32px;
    padding: 0;
    background: none;
    border: solid 16px;
    border-image-slice: 16 fill;
    color: var(--color-base);
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    &:disabled {
      opacity: 0.7;
      color: rgb(from var(--color-base) r g b / 0.5);
      pointer-events: none;
    }
    &:hover,
    &:active,
    &:focus {
      filter: drop-shadow(0 4px 8px rgb(from var(--color-theme) r g b / 0.8));
    }
  }
</style>
